---
layout: default
---

<div class="navbar-wrapper banner">
    <div class="navbar">
      <div class="content-wrapper">
        <a href="/"><h1>Kannan C.</h1></a>

        <div class="social-wrapper">
          <a class='symbol' id="social-fb" href='http://www.facebook.com/kannan.chandra' onClick="trackOutboundLink(this, 'Outbound Links', 'facebook'); return false;">&#xe427;</a>
          <a class='symbol' id="social-linkedin" href='http://www.linkedin.com/in/kannanchandra' onClick="trackOutboundLink(this, 'Outbound Links', 'linkedin'); return false;">&#xe452;</a>
          <a class='symbol' id="social-twitter" href='http://twitter.com/kannanator' onClick="trackOutboundLink(this, 'Outbound Links', 'twitter'); return false;">&#xe486;</a>
          <a class='symbol' id="social-email" href='mailto:hello@kannan-chandra.com'>&#xe424;</a>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="content-wrapper">
    
    <div class="section" id="posts">
      <div class="post">
        <h3>{{ page.title }}</h3>
        
        <!-- {{ page.date | date_to_string }} -->

        {{ content }}

      </div>
    </div>
  </div>